
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-5 col-md-6 order-1 order-md-2">
        <div class="card rounded border-0 shadow ms-lg-5">
            <div class="card-body"><h4 class="text-center">Search Details View</h4>
                <div class="content mt-4 pt-2">

                    <form action="{% url 'drugsearch' %}" method="post" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label">Search by Drug Name : </label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="user" class="fea icon-sm icons"></i>
                                        <input type="text" id="dname" class="form-control ps-5" name="dname">
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label"> Is Opioid? : </label>
                                    <div class="">
                                        <select class="form-icon position-relative" name="is_opioid">
                                            <option>True</option>
                                            <option>False</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-12 mt-2 mb-0">
                                <div class="d-grid">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div><!--end col-->
                        </div>
                    </form>
                    
                
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="card shadow border-0 p-4 pb-0 rounded">
            <div class="d-flex justify-content-between">
          
                <h6 class="mb-0 fw-bold">{% for persons in hello %} {{ persons.first_name }} {%endfor%}</h6>  
                <table>
                    <tr>
                        <th>DrugName</th>
                        <th>IsOpioid</th>
                        <th>See Top 10 Prescribers</th>
                    </tr>
                    {% for items in drug %}
                        <tr class='clickable-row' data-href='url://'>
                            <td>{{ items.1 }}</td>
                            <td>{{ items.2 }}</td>
                            <td><button type="button"><a href="{% url 'top' dName=items.name %}">Click Me!</a></button></td>
                        </tr>
                    {% endfor %}
                </table>
                    
            
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}