
{% extends 'base.html' %}
{% load static %}

{% block content %}
</ul><!--end navigation menu-->
</div><!--end navigation-->
</div><!--end container-->
</header><!--end header-->
<!-- Navbar End -->
<!-- Hero Start -->
<!-- Feature Start -->
<section class="bg-half-170 d-table w-100">
<div class="row">
    <div class="">
        <div class="card shadow border-0 p-4 pb-0 rounded">
            <div class="d-flex justify-content-between">
          
                <h6 class="mb-0 fw-bold">{% for persons in name %} {{ persons.prescriber.first_name }} {%endfor%}</h6>  
                <ul>
                {% for item in count %}
                    {% for items in drugs %} 
                        {% if item.drug == items.drug_id %}
                            <li>{{items.drug.name}}</li>
                        {% endif %}
                    {% endfor %}
                    <li> {{item.count_drug}}</li>
                    {% for thing in average %} 
                        {% if item.drug == thing.0 %}  
                            <li> {{ thing.1 }}</li>
                        {% endif %} 
                    {% endfor %}   
                    
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<button type="button"><a href="{% url 'updatepage' %}">Click Me!</a></button>
{% endblock %}