        {% extends 'base.html' %}
        {% load static %}
        {% block content %}
        </ul><!--end navigation menu-->
        </div><!--end navigation-->
        </div><!--end container-->
        </header><!--end header-->
        <!-- Navbar End -->
        <!-- Hero Start -->
        <!-- Feature Start -->
        <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title">
                    <h4 class="title mb-4">Welcome to the <span class="text-primary">Prescriber Portal</span></h4>
                    <p class="text-muted">This portal allows you to:</p>
                    <ul class="list-unstyled text-muted">
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Update the number of drug prescriptions 
                            an existing prescriber currently has</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>View the general information of existing prescribers</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Search for an existing prescriber or filter the list by prescriber information</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Add a new prescriber</li>
                    </ul>
                    {% comment %} <a href="javascript:void(0)" class="mt-3 h6 text-primary">Find Out More <i class="uil uil-angle-right-b align-middle"></i></a> {% endcomment %}
                </div>
            </div><!--end col-->

            <div class="col-lg-5 col-md-6 order-1 order-md-2">
                <div class="card rounded border-0 shadow ms-lg-5">
                    <div class="card-body"><h4 class="text-center">Update a Prescription</h4>
                        <div class="content mt-4 pt-2">
                            <form action="{% url 'dataup' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Enter prescriber npi : <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                <input type="text" class="form-control ps-5" name="name" required="">
                                            </div>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Select Drug Name from Dropdown : <span class="text-danger">*</span></label>
                                            <div class="">
                                                <select class="form-icon position-relative" name="drug-dropdown">
                                                    {% for item in drugs %}
                                                        <option>{{ item.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Enter Number of Drug Prescriptions : <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="key" class="fea icon-sm icons"></i>
                                                <input type="text" class="form-control ps-5" name="numdrugs">
                                            </div>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-lg-12 mt-2 mb-0">
                                        <div class="d-grid">
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </div>
                                    </div><!--end col-->
                                </div>
                            </form>                                    
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        </div><!--end container-->
        <!-- Feature End -->
        <div class="card shadow border-0 p-4 pb-0 rounded">
            <div class="row align-items-between">
                <div class="row">
                    <div class="col-lg-5 col-md-6 order-1 order-md-2">
                        <div class="card rounded border-0 shadow ms-lg-5">
                            <div class="card-body"><h4 class="text-center">Filter Details View</h4>
                                <div class="content mt-4 pt-2">

                                    <form action="{% url 'prescriber' %}" method="post" >
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Filter by First Name : </label>
                                                    <div class="form-icon position-relative">
                                                        <i data-feather="user" class="fea icon-sm icons"></i>
                                                        <input type="text" id="fname" class="form-control ps-5" name="fname">
                                                    </div>
                                                </div>
                                            </div><!--end col-->

                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Filter by Last Name : </label>
                                                    <div class="form-icon position-relative">
                                                        <i data-feather="user" class="fea icon-sm icons"></i>
                                                        <input type="text" id="lname" class="form-control ps-5" name="lname">
                                                    </div>
                                                </div>
                                            </div><!--end col-->

                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Filter by Gender : </label>
                                                    <div class="form-icon position-relative">
                                                        <i data-feather="user" class="fea icon-sm icons"></i>
                                                        <input type="text" id="gender" class="form-control ps-5" name="gender">
                                                    </div>
                                                </div>
                                            </div><!--end col-->

                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Filter by Credentials : </label>
                                                    <div class="form-icon position-relative">
                                                        <i data-feather="user" class="fea icon-sm icons"></i>
                                                        <input type="text" id="creds" class="form-control ps-5" name="creds">
                                                    </div>
                                                </div>
                                            </div><!--end col-->

                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Filter by Location : </label>
                                                    <div class="form-icon position-relative">
                                                        <i data-feather="user" class="fea icon-sm icons"></i>
                                                        <input type="text" id="state" class="form-control ps-5" name="state">
                                                    </div>
                                                </div>
                                            </div><!--end col-->

                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Filter by Speciality : </label>
                                                    <div class="form-icon position-relative">
                                                        <i data-feather="key" class="fea icon-sm icons"></i>
                                                        <input type="text" id="specialty" class="form-control ps-5" name="specialty">
                                                    </div>
                                                </div>
                                            </div><!--end col-->

                                            <div class="col-lg-12 mt-2 mb-0">
                                                <div class="d-grid">
                                                    <button class="btn btn-primary">Filter</button>
                                                </div>
                                            </div><!--end col-->
                                        </div>
                                    </form>
                                    
                                    
                                </div>
                            </div>
                            
                        </div>
                        </div>
                        <div class="col-lg-5 col-md-6 order-1 order-md-2">
                            <div class="card rounded border-0 shadow ms-lg-5">
                                <div class="d-flex justify-content">
                                    {% comment %} <h6 class="mb-0 fw-bold ">Drugs Prescribed Summary</h6> {% endcomment %}
                                    <div class="grid-container">    
                                        <br><br>
                                        <table name="">
                                            <tr>
                                                <th>NPI</th>
                                                <th>Last Name</th>
                                                <th>First Name</th>
                                                <th>Gender</th>
                                                <th>Credentials</th>
                                                <th>Location</th>
                                                <th>Specialty</th>
                                            </tr>
                                            {% for items in dynamic %}
                                            <tr>
                                                <th><a href="{% url 'drug' npi=items.1 %}">{{items.1}}</a></th>
                                                <th>{{ items.6 }}</th>
                                                <th>{{ items.7 }}</th>
                                                <th>{{ items.10 }}</th>
                                                <th>{{ items.12 }}</th>
                                                <th>{{ items.4 }}</th>
                                                <th>{{ items.2 }}</th> 
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div> 
                    
                                    {% comment %} <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name"> {% endcomment %}
                    
                                    {% comment %} 
                                    <input type="text" id="myInput" 
                                    onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
                    
                                    <table id="myTable">
                                    <tr class="header">
                                        <th style="width:60%;">Name</th>
                                        <th style="width:40%;">Country</th>
                                    </tr>{% endcomment %}
                                    
                    
                                    {% comment %} <script>
                                    function myFunction() {
                                    var input, filter, table, tr, td, i, txtValue;
                                    input = document.getElementById("myInput");
                                    filter = input.value.toUpperCase();
                                    table = document.getElementById("myTable");
                                    tr = table.getElementsByTagName("tr");
                                    for (i = 0; i < tr.length; i++) {
                                        td = tr[i].getElementsByTagName("td")[0];
                                        if (td) {
                                        txtValue = td.textContent || td.innerText;
                                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                            tr[i].style.display = "";
                                        } else {
                                            tr[i].style.display = "none";
                                        }
                                        }       
                                    }
                                    }
                                    </script> {% endcomment %}
                                    
                                    <!-- this is where we should insert some data-->
                                </div>
                            </div>
                        </div>
                        
                    </div><!--end col-->
                </div>
        
            </div>
        </div>
        <div class="card shadow border-0 p-4 pb-0 rounded">
            <div class="row align-items-between">
        <div class="col-lg-5 col-md-6 order-1 order-md-2">
            <div class="card rounded border-0 shadow ms-lg-5">
                <div class="card-body"><h4 class="text-center">Update a Prescription</h4>
                    <div class="content mt-4 pt-2">
                        <form action="{% url 'dataAdd' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label">Enter Prescriber ID (NPI) : <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="user" class="fea icon-sm icons"></i>
                                            <input type="text" class="form-control ps-5" name="p_npi" required="">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Enter First Name : <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="user" class="fea icon-sm icons"></i>
                                            <input type="text" class="form-control ps-5" name="new_first_name" required="">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Enter Last Name : <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="user" class="fea icon-sm icons"></i>
                                            <input type="text" class="form-control ps-5" name="new_last_name" required="">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Enter Gender : <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="user" class="fea icon-sm icons"></i>
                                            <input type="text" class="form-control ps-5" name="gender" required="">
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label">Enter Credentials : <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="user" class="fea icon-sm icons"></i>
                                            <input type="text" class="form-control ps-5" name="credentials" required="">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Are they an opioid prescriber? : <span class="text-danger">*</span></label>
                                        <div class="">
                                            <input type="radio" id="yes_opi" name="opioid_pres" value="Yes">
                                            <label for="yes_opi">Yes</label><br>
                                            <input type="radio" id="no_opi" name="opioid_pres" value="No">
                                            <label for="no_opi">No</label><br>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Enter Location : <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="user" class="fea icon-sm icons"></i>
                                            <input type="text" class="form-control ps-5" name="location" required="">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Enter Specialty : <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="user" class="fea icon-sm icons"></i>
                                            <input type="text" class="form-control ps-5" name="specialty" required="">
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12 mt-2 mb-0">
                                    <div class="d-grid">
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>
                                </div><!--end col-->
                            </div>
                        </form>                                    
                    </div>
                </div>
            </div>
        </div><!--end col-->
    </div>
</div>
        {% endblock %}