    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
                    </ul><!--end navigation menu-->
                </div><!--end navigation-->
            </div><!--end container-->
        </header><!--end header-->
        <!-- Navbar End -->
        <!-- Hero Start -->
        
        <!-- Feature Start -->
        <div class="container mt-100 mt-60">
        <div class="row align-items-top">
            <div class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title">
                    <h4 class="title mb-4">Welcome to the <span class="text-primary">Prescriber Portal</span></h4>
                    <p class="text-muted">This portal allows you to:</p>
                    <ul class="list-unstyled text-muted">
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Update the number of drug prescriptions 
                            an existing prescriber currently has</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>View the general information of existing prescribers</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Search for an existing prescriber or filter the list by prescriber information</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Add a new prescriber</li>
                    </ul>
                    {% comment %} <a href="javascript:void(0)" class="mt-3 h6 text-primary">Find Out More <i class="uil uil-angle-right-b align-middle"></i></a> {% endcomment %}
                </div>
            </div><!--end col-->

            <div class="col-lg-5 col-md-6 order-1 order-md-2">
                <div class="card rounded border-0 shadow ms-lg-5">
                    <div class="card-body"><h4 class="text-center">Add a new record!</h4>
                        <div class="content mt-4 pt-2">
                            <form action="{% url 'dataAdd' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Enter First Name : <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                <input type="text" class="form-control ps-5" name="first_name" required="">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Enter Last Name : <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                <input type="text" class="form-control ps-5" name="last_name" required="">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Enter Email : <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                <input type="text" class="form-control ps-5" name="email" required="">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Enter Phone : <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                <input type="text" class="form-control ps-5" name="phone" required="">
                                            </div>
                                        </div>
                                    </div><!--end col-->
        
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Enter Gender : <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                <input type="text" class="form-control ps-5" name="gender" required="">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Enter Prescriber ID (NPI) : <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                <input type="text" class="form-control ps-5" name="npi" required="">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Are they an Opioid Prescriber? : <span class="text-danger">*</span></label>
                                            <div class="">
                                                <input type="radio" id="yes_opi" name="is_opi" value="Yes">
                                                <label for="yes_opi">Yes</label><br>
                                                <input type="radio" id="no_opi" name="is_opi" value="No">
                                                <label for="no_opi">No</label><br>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Enter State : <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                <input type="text" class="form-control ps-5" name="state" required="">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Enter Specialty : <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                <input type="text" class="form-control ps-5" name="specialty" required="">
                                            </div>
                                        </div>
                                    </div><!--end col-->
        
                                    <div class="col-lg-12 mt-2 mb-0">
                                        <div class="d-grid">
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </div>
                                    </div><!--end col-->
                                </div>
                            </form>                                    
                        </div>
                    </div>
                </div><br><br>
            </div><!--end col-->
        </div><!--end row-->
        </div><!--end container-->

        <div class="card shadow border-0 p-4 pb-0 rounded">
            <div class="row align-items-between">
        <div class="col-lg-5 col-md-6 order-1 order-md-2">
            
        </div><!--end col-->
    </div>
</div>
        {% endblock %}

        